<section class="rectangle_top paper"></section>

<div id="leeks-sign-up"></div>
<div id="cherries-sign-up"></div>
<div id="cumcumber-sign-up"></div>
<div id="watermelon-sign-up"></div>
<div id="beacon-sign-up"></div>
<div id="fish-sign-up"></div>
<div class="title_create_account">
  <h2>Create your account</h2>
</div>

<div class="container container-sign-up">
  <div class="row row-sign-up sign_up_form_layout">
    <div class="col-xs-12 col-sm-6 col-sm-offset-6">
      <div class="form-sign_up">
        <% resource.build_address  %>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>

        <div class="form-inputs">
          <%= f.input :firstname,
          required: true,
          autofocus: true,
          input_html: { autocomplete: "firstname" }%>
          <%= f.input :lastname,
          required: true,
          input_html: { autocomplete: "lastname" }%>
          <%= f.input :username,
          required: true,
          input_html: { autocomplete: "username" } %>
          <%= f.simple_fields_for :address do |ff| %>
          <%= ff.input :street,  required: true %>
          <%= ff.input :city,  required: true %>
          <%= ff.input :zip,  required: true %>
          <%end
          %>
          <%= f.input :email,
          required: true,
          input_html: { autocomplete: "email" }%>
          <%= f.input :password,
          required: true,
          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
          input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
          required: true,
          input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "SAVE" %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>



<section class="rectangle_bottom paper"></section>
