
<div class="modal fade" id="modal-<%= product.id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">

    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><%= product.name.capitalize %></h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4">
              <h5><%=product.subcategory.name %></h5>
              <div class="show-emotes">
                <i class="fas fa-leaf"></i>
                <i class="fas fa-heartbeat"></i>
                <i class="fas fa-dollar-sign"></i>
              </div>
              <img src="<%= product.image%>" style="height:300px;" alt="" class="img-show">
            </div>
            <div class="col-md-8 ml-auto">
              <div class="row basket-selection">
                <div class="col-4">
                  <div class="quantity-show">
                    <p>Quantity</p>
                    <div class="min-max-q-show">
                      <input type="number" value="0" id="input"/>
                    </div>
                  </div>
                </div>
                <div class="col-4">
                  <div class="price-show">
                    <p>Price</p>
                    <h4><%=product.price  %></h4>
                  </div>
                </div>
                <div class="col-4">
                  <div class="btn-basket-show">
                    <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-4">
                  <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab" aria-controls="home">Home</a>
                    <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab" aria-controls="profile">Profile</a>
                    <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab" aria-controls="messages">Messages</a>
                    <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab" aria-controls="settings">Settings</a>
                  </div>
                </div>
                <div class="col-8">
                  <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">Irure enim occaecat labore sit qui aliquip reprehenderit amet velit. Deserunt ullamco ex elit nostrud ut dolore nisi officia magna sit occaecat laboris sunt dolor.</div>
                    <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">Nisi eu minim cillum occaecat aute est cupidatat aliqua labore aute occaecat ea aliquip sunt amet.</div>
                    <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">Aute mollit dolor ut exercitation irure commodo non amet consectetur quis amet culpa.</div>
                    <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">Quis ullamco nisi amet qui aute irure eu. Magna labore dolor quis ex labore id nostrud deserunt dolor eiusmod eu pariatur culpa mollit in irure.</div>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="row suggestion-title">
            <h1>Suggestions</h1>
          </div>
          <div class="row">
            <div class="col img-suggestions">
              <img src="https://images.unsplash.com/photo-1584306670957-acf935f5033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80" style="height:300px;" alt="" class="img-show">
            </div>
            <div class="col img-suggestions">
              <img src="https://images.unsplash.com/photo-1584306670957-acf935f5033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80" style="height:300px;" alt="" class="img-show">
            </div>
            <div class="col img-suggestions">
              <img src="https://images.unsplash.com/photo-1584306670957-acf935f5033c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=666&q=80" style="height:300px;" alt="" class="img-show">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

<script>
  const minusButton = document.getElementById('minus');
  const plusButton = document.getElementById('plus');
  const inputField = document.getElementById('input');

  minusButton.addEventListener('click', event => {
    event.preventDefault();
    const currentValue = Number(inputField.value) || 0;
    inputField.value = currentValue - 1;
  });

  plusButton.addEventListener('click', event => {
    event.preventDefault();
    const currentValue = Number(inputField.value) || 0;
    inputField.value = currentValue + 1;
  });
</script>
