<ul class="list-inline tabs-underlined">
  <li>
    <%= link_to "ALL", "#", class: "btn btn-flat btn-all" %>
  </li>
  <li>
    <%= link_to "FRUITS", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "VEGETABLES", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "MEAT", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "FISH", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "BAKERY", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "SWEET", "#", class: "tab-underlined" %>
  </li>
  <li>
    <%= link_to "LISTS", "#", class: "btn btn-flat btn-lists" %>
  </li>
</ul>


<ul class="list-inline tabs-underlined second-tabs">
  <li>
    <%= link_to "APPLE", "#", class: "btn btn-flat btn-all" %>
  </li>
  <li>
    <%= link_to "CHERRY", "#", class: "tab-underlined-second" %>
  </li>
  <li>
    <%= link_to "BANANA", "#", class: "tab-underlined-second" %>
  </li>
  <li>
    <%= link_to "HIMBER", "#", class: "tab-underlined-second" %>
  </li>
  <li>
    <%= link_to "PEACH", "#", class: "tab-underlined-second" %>
  </li>
  <li>
    <%= link_to "WATERMELON", "#", class: "tab-underlined-second" %>
  </li>
  <li>
    <%= link_to "ORANGE", "#", class: "tab-underlined-second" %>
  </li>
</ul>
