<% if !@order_products.nil? || @order_products.errors.any? %>
  <ul>
    <% @order_products.each do |msg| %>
      <li> <%= msg%></li>
    <% end %>
  </ul>
<% end %>

<% if @order_products.size > 0 %>
  <% @order_products.each do |item| %>
    <h3> <%= item.product.name %> </h3>
    <% form_for(item, remote: true) do |f| %>
      <%= f.hidden_field :product_id, value: item.product.id %>
      <h5><%= item.product.price %></h5>
      <%= f.text_field :quantity, value: item.quantity.to_i, min: 1, class: 'form-control' %>
      <%= f.submit "+/-", class: 'btn btn-transparent-sm'  %>
      <%= link_to "-", item, method: :delete, remote: true, class: 'btn btn-danger-sm' %>
      <span>Total Price: <%= item.total_price %></span>
    <% end %>
  <% end %>
<% end %>
