

<div class="container">
  <div class="container-products col-lg-12 cart-item">
    <% @order_products.each do |item| %>
      <div class="card-product w-75" data-toggle="modal" data-target="#modal-<%= item.product.id %>">
        <%= image_tag item.product.image, class: "mh-100", style: "width: 200px; height: 300px;"  %>
        <div class="card-product-infos flex-grow-1">
          <div class="d-flex justify-content-between ">
            <h2><%= item.product.name.capitalize %></h2>
            <h2><%= item.product.price%><%= item.product.currency.upcase %></h2>
          </div>
          <h3><%= item.product.subcategory.name %></h3>
          <div class="d-flex justify-content-around badges ">
            <% if item.product.eco_score == "A" || item.product.eco_score == "B"%>
              <i class="fas fa-globe-americas fa-2x" style="color: #4CA90C;"></i>
            <%elsif  item.product.eco_score == "C" || item.product.eco_score == "D"%>
              <i class="fas fa-globe-americas fa-2x" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-globe-americas fa-2x" style="color: #EB5757;"></i>
            <% end %>
            <% if item.product.nutri_score == "A" || item.product.nutri_score == "B"%>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #4CA90C;"></i>
            <%elsif  item.product.nutri_score == "C" || item.product.nutri_score == "D"%>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #EB5757;"></i>
            <% end %>
            <i class="fas fa-money-bill-wave fa-2x pl-3"></i>
          </div>
          <div class="d-flex justify-content-between">
            <p class="flex-grow overflow-auto"><%= item.product.description%></p>
            <span>
              <h3> <%= item.product.name %> </h3>
              <%= form_for(item, url: remove_from_cart_path(item.product.id), remote: true) do |f| %>
                <%= f.hidden_field :product_id, value: item.product.id %>
                <h5><%= item.product.price %> CHF</h5>
                <%= f.text_field :quantity, value: item.quantity, min: 1, class: 'form-control', style: 'w-1' %>
                <%= f.submit "Update", class: 'btn btn-transparent-sm'  %>
                <%= link_to "Delete", delete_from_cart_path(item.product.id), method: :post, remote: true, class: 'btn btn-danger-sm' %>
              <% end %>
          </span>
          </div>
        </div>
      </div>
      <%= render 'shared/popup', product: item.product%>
    <% end %>
  </div>


  <div class="container">
    <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total Amount:
              <%= @current_cart.inject(0) do |sum, (key, quantity)|
                  @product = Product.find(key)
                  sum += @product.price * quantity
                  end  %>
            CHF
          <% end %>
        </span>
      </label>
    </article>

    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Current Order"
            data-amount="<%= @current_cart.inject(0) do |sum, (key, quantity)|
                  @product = Product.find(key)
                  sum += @product.price * quantity
                  end  * 100%>"
            data-locale="auto">
    </script>
  </div>
</div>

