




<div class="grid-container">

<h1 class="overview-title">Dashboard</h1>
<nav class="navbar-overview navbar-light d-flex justify-content-center">
  <form class="form-inline">
    <input class="form-control" type="search" placeholder="Search..." aria-label="Search">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
</nav>
<br>

<div class="current-order">
  <h3>Previous Order</h3>
    <% @order_products.each do |order_product|%>
      <ul>
        <li>
          <div class="card-product-dashboard">
            <%= image_tag order_product.product.image %>
            <div class="card-product-dashboard-infos">
              <h2><%= order_product.product.name.capitalize %></h2>

              <div class="d-flex justify-content-around badges ">
                <% if order_product.product.eco_score == "A" || order_product.product.eco_score == "B"%>
                  <i class="fas fa-globe-americas fa-2x" style="color: #4CA90C;"></i>
                <%elsif  order_product.product.eco_score == "C" || order_product.product.eco_score == "D"%>
                  <i class="fas fa-globe-americas fa-2x" style="color: #FFC400;"></i>
                <% else %>
                  <i class="fas fa-globe-americas fa-2x" style="color: #EB5757;"></i>
                <% end %>

                <% if order_product.product.nutri_score == "A" || order_product.product.nutri_score == "B"%>
                  <i class="fas fa-heartbeat fa-2x pl-3" style="color: #4CA90C;"></i>
                <%elsif  order_product.product.nutri_score == "C" || order_product.product.nutri_score == "D"%>
                  <i class="fas fa-heartbeat fa-2x pl-3" style="color: #FFC400;"></i>
                <% else %>
                  <i class="fas fa-heartbeat fa-2x pl-3" style="color: #EB5757;"></i>
                <% end %>
                <span><%= order_product.product.price%><%= order_product.product.currency.upcase %></span>
                <!-- <i class="fas fa-money-bill-wave fa-2x pl-3"></i>  money icon removed as we have random prices, add again when we can compare with average price -->
              </div>
            </div>
          </div>
        </li>
      </ul>
    <% end %>
    <span><%= @order.total %></span>
  </div>


  <div class="header">
    <h2>Dashboard</h2>
  </div>

  <div class="current-order paper">
    <div class="current-order-infos">
      <h3>Previous Order</h3>
      <ul>
        <li>order_porduct 1 NO PICTURE</li>
      </ul>
    </div>
  </div>

  <div class="eco-chart">
    <div class="eco-chart chart">
      <%= column_chart(a:3, b:9, c:4, d:5) %>
    </div>
  </div>

  <div class="details-chart">
    <div class="nutritionnal-chart chart">
      <%= column_chart(a:3, b:7, c:1, d:6) %>
    </div>
  </div>

  <div class="last-orders">
    <h4>last Orders</h4>
      <ul>
        <li>
          <div class="badge badge-pill">8</div>Order 1
        </li>
        <li>
          <div class="badge badge-pill">7</div>Order 1
        </li>
        <li>
          <div class="badge badge-pill">5</div>Order 1
        </li>
      </ul>
  </div>


  <div class="eco-stats">
    <h4>Eco Impact</h4>
      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

  <div class="details-stats">
    <h4>Nutrionnal Details</h4>
      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

  <div class="spendings">
    <h4>Spendings</h4>

  <div class="row justify-content-end top-buffer">
    <div class="col-4">
      <h4>Last Month Consumption Overview</h4>
      <ul>
        <li>Global Ecoscore: </li>
        <li>Global Nutriscore: </li>
        <li>Total Spendings: </li>
      </ul>
    </div>
    <div class="col-4">
      <h4>Current Month Consumption Overview</h4>

      <ul>
        <li>Order 1</li>
        <li>Order 1</li>
        <li>Order 1</li>
      </ul>
  </div>

</div>