<section class="rectangle-overview paper playlist-rectangle">
</section>

<div class="playlist-page-title">
  <h1>The oishi packs</h1>
  <%= link_to "Back to products", products_path, class: "btn-products-redirection" %>
</div>

<div class="container container-playlist">
  <div class="row row-playlist">
    <div class="col-md col-playlist">
      <div class="playlist playlist-1">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1498837167922-ddd27525d352?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80" alt="">
        </div>
        <div class="playlist-name">
          <h2>The Greta Thunberg<i class="fas fa-globe-americas fa-2x" style="color: #4CA90C;"></i></h2>
        </div>
        <div class="playlist-element">
          <ul>
            <% @eco_scores.products.each do |product| %>
              <p><%= product.name.capitalize %></p>
            <% end %>
          </ul>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
    <div class="col-md col-playlist">
      <div class="playlist playlist-2">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1521986329282-0436c1f1e212?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1655&q=80" alt="">
        </div>
        <div class="playlist-name">
          <h2>The Healthy</h2>
        </div>
        <div class="playlist-element">
             <ul>
            <% @nutri_scores.products.each do |product| %>
              <p><%= product.name.capitalize %></p>
            <% end %>
          </ul>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
    <div class="col-md col-playlist">
      <div class="playlist playlist-3">
        <div class="playlist-img">
          <img src="https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="">
        </div>
        <div class="playlist-name">
          <h2>The Wallet friendly <i class="fas fa-money-bill-wave fa-2x pl-3" style="color: #4CA90C;"></i></h2>
        </div>
        <div class="playlist-element">
            <ul>
            <% @prices.products.each do |product| %>
              <p><%= product.name.capitalize %></p>
            <% end %>
          </ul>
        </div>
        <div class="playlist-btn">
          <%= link_to "ADD TO BASKET", "#", class: "btn btn-flat btn-basket" %>
        </div>
      </div>
    </div>
  </div>
</div>
