  <div class="index-banner"></div>
  <%= render 'shared/tabs', class: "index-tabs" %>


<div class="search-form d-flex justify-content-center p-3">
  <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
    <%= text_field_tag :query,
      params[:query],class: "form-control",placeholder: "Search..."%>
    <%= submit_tag "Search", class: "btn btn-primary" %>
  <% end %>
</div>


<div class="container d-flex suppliers">
  <div class="d-flex flex-column suppliers">
    <div class="ml-4">
      <h3> <%= @suppliers.count %> Suppliers</h3>
      <br>
      <br>
      <% @suppliers.each do |supplier| %>
        <div class="form-check">
          <label class="form-check-label col-2">
            <input type="radio" class="form-check-input" name="optradio"><%= supplier.name %>
          </label>
        </div>
      <% end %>
    </div>
  </div>

  <div class="container-products col-lg-12">
    <% @products.each do |product| %>
      <div class="card-product w-75" data-toggle="modal" data-target="#modal-<%= product.id %>">
        <%= image_tag product.image, class: "mh-100", style: "width: 200px; height: 300px;"  %>
        <div class="card-product-infos flex-grow-1">
          <div class="d-flex justify-content-between ">
            <h2><%= product.name.capitalize %></h2>
            <h2><%= product.price%><%= product.currency.upcase %></h2>
          </div>  
          <h3><%= product.subcategory.name %></h3>
          <div class="d-flex justify-content-around badges ">
            <% if product.eco_score == "A" || product.eco_score == "B"%>
              <i class="fas fa-globe-americas fa-2x" style="color: #4CA90C;"></i>
            <%elsif  product.eco_score == "C" || product.eco_score == "D"%>
              <i class="fas fa-globe-americas fa-2x" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-globe-americas fa-2x" style="color: #EB5757;"></i>
            <% end %>

            <% if product.nutri_score == "A" || product.nutri_score == "B"%>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #4CA90C;"></i>
            <%elsif  product.nutri_score == "C" || product.nutri_score == "D"%>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-heartbeat fa-2x pl-3" style="color: #EB5757;"></i>
            <% end %>
            <!-- <i class="fas fa-money-bill-wave fa-2x pl-3"></i>  money icon removed as we have random prices, add again when we can compare with average price -->
          </div>
          <div class="d-flex justify-content-between">
            <p class="flex-grow overflow-auto"><%= product.description%></p>
            <span>
            <%= form_for @order_product , class: "form-inline", remote: true do |f| %>
              <%= f.hidden_field :product_id, value: product.id%>
              <%= f.text_field :quantity, value: 1, min: 1, size: 2 %>
              <%= f.submit "Add", size: 10 %>
            <% end %>
          </span>
          </div>
        </div>
      </div>
      <%= render 'shared/popup', product: product%>
    <% end %>
  </div>
</div>

