  <div class="index-banner"></div>
  <%= render 'shared/tabs', class: "index-tabs" %>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2">
      <h3 class="pb-4">Sorted by</h3>
      <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
          <%= hidden_field_tag :query, params[:query]%>
          <%= hidden_field_tag :sort_eco, "ecoscore"%>
          <%= submit_tag "Ecoscore", class: "btn btn-info sidenav col-lg-8"  %>
      <% end %>
      <br>
      <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
          <%= hidden_field_tag :query, params[:query]%>
          <%= hidden_field_tag :sort_nutri, "nutriscore"%>
          <%= submit_tag "Nutriscore", class: "btn btn-info sidenav col-lg-8"  %>

      <% end %>
      <br>
      <%= form_tag products_path, method: :get, :class => 'form-inline' do %>
          <%= hidden_field_tag :query, params[:query]%>
          <%= hidden_field_tag :sort_price, "price"%>
          <%= submit_tag "Price", class: "btn btn-info sidenav col-lg-8"  %>
      <% end %>
    </div>

    <div class="card-index col-sm-10 text-left">
      <div class="grid-container-card">
        <% @products.each do |product| %>
          <div class="card-product w-75 d-flex flex-column justify-content-between">
            <div class="card-product-header" data-toggle="modal" data-target="#modal-<%= product.id %>">
              <div class="card-product-header-details d-flex justify-content-between align-items-center">
                  <div class="d-flex flex-column bd-highlight mb-3">
                    <h2 class="p-2 bd-highlight"><%= product.name.capitalize %></h2>
                    <h3 class="category-title p-2 bd-highlight"><%= product.category.name %></h3>
                  </div>


                <%= image_tag product.image, class: "d-flex justify-content-end" %>
              </div>
              <div class="card-product-infos flex-grow-1">

                <div class="d-flex justify-content-around badges mt-4">
                  <% if product.eco_score == "A" || product.eco_score == "B" %>
                    <i class="fas fa-globe-americas fa-2x" style="color: #4CA90C;"></i>
                  <%elsif  product.eco_score == "C" || product.eco_score == "D" %>
                    <i class="fas fa-globe-americas fa-2x" style="color: #FFC400;"></i>
                  <% else %>
                    <i class="fas fa-globe-americas fa-2x" style="color: #EB5757;"></i>
                  <% end %>

                  <% if product.nutri_score == "A" || product.nutri_score == "B" %>
                    <i class="fas fa-heartbeat fa-2x pl-3" style="color: #4CA90C;"></i>
                  <%elsif  product.nutri_score == "C" || product.nutri_score == "D" %>
                    <i class="fas fa-heartbeat fa-2x pl-3" style="color: #FFC400;"></i>
                  <% else %>
                    <i class="fas fa-heartbeat fa-2x pl-3" style="color: #EB5757;"></i>
                  <% end %>

                  <% if product.price < 0.8 * ((Product.where(category_id: product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: product.category.id).size) %>
                    <i class="fas fa-money-bill-wave fa-2x pl-3" style="color: #4CA90C;"></i>
                  <% elsif product.price >= 0.8 * ((Product.where(category_id: product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: product.category.id).size) && product.price <= 1.2 * ((Product.where(category_id: product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: product.category.id).size) %>
                    <i class="fas fa-money-bill-wave fa-2x pl-3" style="color: #FFC400;"></i>
                  <% else %>
                    <i class="fas fa-money-bill-wave fa-2x pl-3" style="color: #EB5757;"></i>
                  <% end %>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <span id= "add-button">
                <%= form_for @order_product , class: "form-inline add-button", remote: true do |f| %>
                  <%= f.hidden_field :product_id, value: product.id %>
                  <%= f.text_field :quantity, value: 1, min: 1, size: 2, class: "btn-add"%>
                  <%= f.submit "Add", size: 1, class: "btn-add" %>
                <% end %>
              </span>
              <h2><%= product.price%> <%= product.currency.upcase %></h2>
            </div>
            <%= render 'popup', product: product, class: "cursor" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
