<section class="rectangle paper"></section>
<section class="rectangle_bottom paper"></section>

<div class="cart-title">
  <h2>Checkout</h2>
</div>

<div class="container py-9">
  <div class="card-cart-checkout container-products col-8 cart-item container">
    <% @order_products.each do |item| %>
      <div class="card-checkout" data-toggle="modal" data-target="#modal-<%= item.product.id %>">
        <%= image_tag item.product.image %>
        <div class="card-checkout-infos flex-grow-1">
          <div class="d-flex flex-column bd-highlight mb-3">
            <h2 class="bd-highlight"><%= item.product.name.capitalize %></h2>
            <h3 class="bd-highlight"> <%= item.product.category.name %> </h3>
          </div>
          <div class="checkout-infos d-flex justify-content-end">
            <h2 class="checkout-price"><%= item.product.price.round(2)%><%= item.product.currency.upcase %></h2>
              <div>
                <%= form_for(item, url: remove_from_cart_path(item.product.id), remote: true) do |f| %>
                  <%= f.text_field :quantity, size: 1, value: item.quantity, min: 1, class: 'form-control quantity-checkout' %>
                <% end %>
              </div>
          </div>


          <div class="d-flex justify-content-around m-1 checkout-info">
            <% if item.product.eco_score == "A" || item.product.eco_score == "B"%>
              <i class="fas fa-globe-americas fa-1x" style="color: #4CA90C;"></i>
            <%elsif  item.product.eco_score == "C" || item.product.eco_score == "D"%>
              <i class="fas fa-globe-americas fa-1x" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-globe-americas fa-1x" style="color: #EB5757;"></i>
            <% end %>
            <% if item.product.nutri_score == "A" || item.product.nutri_score == "B"%>
              <i class="fas fa-heartbeat fa-1x" style="color: #4CA90C;"></i>
            <%elsif  item.product.nutri_score == "C" || item.product.nutri_score == "D"%>
              <i class="fas fa-heartbeat fa-1x" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-heartbeat fa-1x" style="color: #EB5757;"></i>
            <% end %>
            <% if item.product.price < 0.8 * ((Product.where(category_id: item.product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: item.product.category.id).size) %>
              <i class="fas fa-money-bill-wave fa-1x" style="color: #4CA90C;"></i>
            <% elsif item.product.price >= 0.8 * ((Product.where(category_id: item.product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: item.product.category.id).size) && item.product.price <= 1.2 * ((Product.where(category_id: item.product.category.id).pluck(:price).inject { |sum, el| sum + el }.to_f)/Product.where(category_id: item.product.category.id).size) %>
              <i class="fas fa-money-bill-wave fa-1x" style="color: #FFC400;"></i>
            <% else %>
              <i class="fas fa-money-bill-wave fa-1x" style="color: #EB5757;"></i>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>


  <div class="container stripe-container d-flex justify-content-center">
    <%= form_tag charges_path do %>
    <article>
      <% if flash[:error].present? %>
        <div id="error_explanation">
          <p><%= flash[:error] %></p>
        </div>
      <% end %>
      <label class="amount">
        <span>Total:
              <%= @current_cart.inject(0) do |sum, (key, quantity)|
                  @product = Product.find(key)
                  sum += @product.price * quantity
                  end  %>
            CHF
        </span>
      </label>
    </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
            data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
            data-description="Current Order"
            data-amount="<%= @current_cart.inject(0) do |sum, (key, quantity)|
                  @product = Product.find(key)
                  sum += @product.price * quantity
                  end  * 100%>"
            data-locale="auto">
    </script>
    <% end %>
  </div>
</div>
